code {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  display: block;
  overflow-x: auto;
  padding: 0.65em;
  background: #ffffff;
}

pre {
  margin: 0;
  border: none;
  padding: 10px 0px;
  background-color: transparent;
  & code {
    padding: 5px;
    padding-left: 15px;
    font-size: 0.95em;
    white-space: pre-line;
    border: 1px solid #f0f0f0;
    background-color: #fefefe;
  }
}

// -- "highlight.js" --
// Rakuten Marketing "theme"
.hljs, .hljs-subst { color: #333333; }
.hljs-tag { color: #a83c98; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: white;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #48c704;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #cdcdcd;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.html .hljs-name { font-weight: normal; color: #d409b6; }
.html .hljs-attr { color: #da0808; }
.html .hljs-string { color: #46c700; }