.swatches {
  display: flex;
  flex-flow: wrap;
  & .swatch {
    box-shadow: 0 0.5px 0 0 #cccccc inset, 0 1px 1px 0 #bdbdbd;
    padding: 5px;
    width: 100px;
    min-height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;

    & .swatch-fill { height: 80%; }
    & .swatch-variable {
      text-align: center;
      padding: 5px 0px;
      font-size: 11px;
    }
  }
}