$primary-active-elements-color: #3db8bE !default;
$primary-principal-body-color: #434343 !default;
$primary-border-color: #e6e6e6 !default;
$primary-brand-color: #bf0000 !default;

$secondary-brand-color-variation: #dE1515 !default;
$secondary-tags-color: #757575 !default;
$secondary-inactive-sidebar-sections: #27405e !default;
$secondary-sliders-color: #cacdd0 !default;
$secondary-active-elements-hover: #2b999f !default;

$notifications-info-marks: #e08C01 !default;
$notifications-confirmation: #178C72 !default;
$notifications-information: #27405E !default;
$notifications-notice: #fed600 !default;
$notifications-badges: #fcb43c !default;
$notifications-notification-bubbles: #e84848 !default;