@import 'components';

$badge-color: $components-color-default;
$badge-link-hover-color: $components-color-hover;
$badge-bg: $components-bg-default;
$badge-active-color: $components-color-active;
$badge-active-bg: $components-bg-active;
$badge-font-weight: bold;
$badge-line-height: 1;
$badge-border-radius: $components-border-radius-base;