@import 'colors';
@import 'components';

$breadcrumb-padding-vertical: $components-padding-base-vertical;
$breadcrumb-padding-horizontal: $components-padding-base-horizontal;
$breadcrumb-bg: $rm-palette-white;
$breadcrumb-color: $components-color-default;
$breadcrumb-active-color: $components-color-active;
$breadcrumb-separator: '/';