@import './common/colors';

$rm-red-base: #bf0000 !default;
$rm-black: #000000 !default;
$rm-red-dark: #670000 !default;
$rm-gray-base: #4d4d4d !default;
$rm-gray-light: #546168 !default;
$rm-gray-lighter: #d2d2d2 !default;
$rm-teal: #48babe !default;
$rm-blue: #0071bc !default;
$rm-orange: #f7931e !default;
$rm-yellow: #fcd821 !default;
$rm-red-lighter: #ed1c24 !default;
$rm-white: #ffffff !default;

$gray: $rm-gray-base;
$gray-base: $rm-gray-base;
$gray-darker: darken($rm-gray-base, 15%);
$gray-dark: darken($rm-gray-base, 5%);
$gray-light: $rm-gray-light;
$gray-lighter: $rm-gray-lighter;

$brand-primary: $rm-red-base;
$brand-success: $rm-blue;
$brand-info: $rm-yellow;
$brand-warning: $rm-orange;
$brand-danger: $rm-red-dark;

$rm-palette-white: $rm-white;

