@import 'colors';

$padding-base-vertical: 6px;
$padding-base-horizontal: 12px;
$padding-large-vertical: 10px;
$padding-large-horizontal: 16px;
$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;

$padding-xs-vertical: 1px;
$padding-xs-horizontal: 5px;
$line-height-large: 1.3333333;
$line-height-small: 1.5;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$component-active-color: $gray-base;
$component-active-bg: $brand-primary;
$caret-width-base: 4px;
$caret-width-large: 5px;


$components-padding-base: 15px;
$components-padding-base-vertical: $padding-base-vertical;
$components-padding-base-horizontal: $padding-base-horizontal;

$components-border-radius-base: $border-radius-base;

$components-color-default: $rm-palette-white;
$components-color-active: $gray-base;
$components-color-hover: $rm-palette-white;

$components-bg-default: $brand-primary;
$components-bg-active: $brand-primary;