@import 'colors';
@import 'components';

$dropdown-bg: $rm-palette-white;
$dropdown-border: $gray-light;
$dropdown-fallback-border: $dropdown-border;
$dropdown-divider-bg: $gray-lighter;
$dropdown-link-color: $component-active-color;
$dropdown-link-hover-color: darken($dropdown-link-color, 5%);
$dropdown-link-hover-bg: $rm-palette-white;
$dropdown-link-active-color: $rm-palette-white;
$dropdown-link-active-bg: $brand-primary;
$dropdown-link-disabled-color: $gray-lighter;
$dropdown-header-color: $gray-light;
$dropdown-caret-color: $gray;