$brand-primary: $rm-red-base;
$brand-success: $rm-blue;
$brand-info: $rm-yellow;
$brand-warning: $rm-orange;
$brand-danger: $rm-red-dark;

$primary-active-elements-color: $rm-teal-lighter;
$primary-principal-body-color: $rm-gray-base;
$primary-border-color: $rm-gray-white;
$primary-brand-color: $rm-red-base;
$secondary-brand-color-variation: $rm-red-light;
$secondary-tags-color: $rm-gray;
$secondary-inactive-sidebar-sections: $rm-blue-dark;
$secondary-sliders-color: $rm-gray-white-darker;
$secondary-active-elements-hover: $rm-teal-darker;
$notifications-info-marks: $rm-orange-dark;
$notifications-confirmation: $rm-aqua;
$notifications-information: $rm-blue-dark;
$notifications-notice: $rm-yellow-lighter;
$notifications-badges: $rm-orange-light;
$notifications-notification-bubbles: $rm-blush;
