$rm-black: #000000 !default;
$rm-gray-base: #4d4d4d !default;
$rm-gray: #757575 !default;
$rm-gray-light: #546168 !default;
$rm-gray-lighter: #d2d2d2 !default;
$rm-gray-white: #e6e6e6 !default;
$rm-gray-white-darker: #cacdd0 !default;
$rm-white: #ffffff !default;
$rm-palette-white: $rm-white;

$rm-red-base: #bf0000 !default;
$rm-red-light: #de1515 !default;
$rm-red-lighter: #ed1c24 !default;
$rm-red-dark: #670000 !default;
$rm-blush: #e84848 !default;

$rm-teal: #48babe !default;
$rm-teal-lighter: #3db8be !default;
$rm-teal-darker: #2b999f !default;
$rm-blue: #0071bc !default;
$rm-blue-dark: #27405e !default;

$rm-aqua: #178c72 !default;

$rm-orange: #f7931e !default;
$rm-orange-light: #fcb43c !default;
$rm-orange-dark: #e08c01 !default;

$rm-yellow: #fcd821 !default;
$rm-yellow-lighter: #fed600 !default;


