$brand-black: #000000 !default;
$brand-white: #ffffff !default;

$brand-gray-darker: #434343 !default;
$brand-gray: #757575 !default;
$brand-gray-light: #D4D6D9 !default;
$brand-gray-lighter: #E6E6E6 !default;

$brand-primary-darker: #2B999F !default;
$brand-primary: #3DB8BE !default;
$brand-primary-lighter: #e6f1f1 !default;

// $brand-secondary-darker: ... !default;
$brand-secondary: #27405E !default;
$brand-secondary-lighter: #27405E !default;

$brand-info: $brand-secondary-lighter !default;
$brand-success: #178C72 !default;
$brand-warning: #FCB43C !default;
$brand-danger: #E84848 !default;
