/* Tables */
$rm-table-cell-padding: 8px;
$rm-table-condensed-cell-padding: 5px;
$rm-table-bg: transparent;
$rm-table-bg-accent: #f9f9f9;
$rm-table-bg-hover: #f5f5f5;
$rm-table-bg-active: $rm-table-bg-hover;
$rm-table-border-color: #dddddd;