$rm-screen-xs: 480px !default;
$rm-screen-sm: 768px !default;
$rm-screen-md: 992px !default;
$rm-screen-lg: 1200px !default;

$rm-grid-gutter-width: 30px;

$rm-container-tablet: 720px !default;
$rm-container-desktop: 940px !default;
$rm-container-lg-desktop: 1140px !default;
