@import 'colors';

$rm-body-bg: $rm-white !default;
$rm-text-color: $rm-gray-dark !default;
$rm-link-color: $rm-primary !default;
$rm-link-hover-color: darken($rm-primary, 15%) !default;
$rm-link-hover-decoration: underline !default;

$rm-padding-base-vertical: 6px;
$rm-padding-base-horizontal: 12px;

$rm-padding-large-vertical: 10px;
$rm-padding-large-horizontal: 16px;

$rm-padding-small-vertical: 5px;
$rm-padding-small-horizontal: 10px;

$rm-padding-xs-vertical: 1px;
$rm-padding-xs-horizontal: 5px;

$rm-line-height-large: 1.3333333;
$rm-line-height-small: 1.5;

$rm-border-radius-base: 4px;
$rm-border-radius-large: 6px;
$rm-border-radius-small: 3px;

$rm-border-color-base: #cccccc;
$rm-border-color-active: #66afe9;
$rm-placeholder-text-color: #999999;
$rm-legend-base-color: #e5e5e5;

$components-base-bg-color: #f5f5f5;
$components-base-text-color: $rm-gray;
$components-active-bg-color: darken($components-base-bg-color, 5%);


/* Code */
$code-color: #c7254e;
$code-bg: #f9f2f4;
$kbd-color: $rm-white;
$kbd-bg: #333333;
$pre-bg: $components-base-bg-color;
$pre-color: $rm-gray-dark;
$pre-border-color: $rm-border-color-base;
$pre-scrollable-max-height: 340px;

/* Close button */
$close-font-weight: bold;
$close-color: $rm-black;
$close-text-shadow: 0 1px 0 #ffffff;

/** Global color for active items
(e.g., navs or dropdowns). */
$rm-component-active-color: $rm-white !default;
$rm-component-active-bg: $rm-primary !default;

/* Width of the "border" for generating
carets that indicate dropdowns. */
$rm-caret-width-base: 4px;
$rm-caret-width-large: 5px;


/* Media queries breakpoints */
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-float-breakpoint: $screen-sm-min;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);

/* Container sizes */
$container-tablet: (720px + $grid-gutter-width);
$container-sm: $container-tablet;
$container-desktop: (940px + $grid-gutter-width);
$container-md: $container-desktop;
$container-large-desktop: (1140px + $grid-gutter-width);
$container-lg: $container-large-desktop;