@import 'colors';

$rm-body-bg: $rm-white !default;
$rm-text-color: $rm-black !default;
$rm-link-color: $rm-primary !default;
$rm-link-hover-color: darken($rm-primary, 15%) !default;
$rm-link-hover-decoration: none !default;
