$rm-font-family: 'lft-etica', sans-serif !default;
$rm-font-size-base: 18px !default;
$rm-line-height-base: 1.428571429 !default;

$rm-font-size-h1: 57px !default;
$rm-font-size-h2: 57px !default;
$rm-font-size-h3: 32px !default;
$rm-font-size-h4: 24px !default;
$rm-font-size-h5: 20px !default;
$rm-font-size-h6: 18px !default;

$rm-font-weight-light: 300 !default;
$rm-font-weight-base: 400 !default;
$rm-font-weight-bold: 700 !default;
