$brand-font-family: 'lft-etica', sans-serif !default;
$brand-font-semibold: 'lft-etica-semibold', sans-serif !default;
$brand-font-size: $size-base !default;
$brand-line-height: 1.428571429 !default;
$brand-font-weight-bold: 600;

$brand-font-size-h1: $size-xxl !default;
$brand-font-size-h2: $size-xl !default;
$brand-font-size-h3: $size-l !default;
$brand-font-size-h4: $size-m !default;
$brand-font-size-h5: $size-base !default;
$brand-font-size-h6: $size-s !default;

$headings-font-weight: $brand-font-weight-bold;