$alert-padding: 15px;
$alert-border-radius: $rm-border-radius-base;
$alert-link-font-weight: bold;
$alert-success-bg: $rm-success;
$alert-success-text: $rm-white;
$alert-success-border: darken($rm-success, 25%);
$alert-info-bg: $rm-info;
$alert-info-text: $rm-white;
$alert-info-border: darken($rm-info, 25%);
$alert-warning-bg: $state-warning-bg;
$alert-warning-text: $state-warning-text;
$alert-warning-border: $state-warning-border;
$alert-danger-bg: $state-danger-bg;
$alert-danger-text: $state-danger-text;
$alert-danger-border: $state-danger-border;