$rm-table-cell-padding: 8px;
$rm-table-condensed-cell-padding: 5px;
$rm-table-bg: transparent;
$rm-table-bg-accent: #f9f9f9;
$rm-table-bg-hover: #f5f5f5;
$rm-table-bg-active: $rm-table-bg-hover;
$rm-table-border-color: #dddddd;

$rm-btn-font-weight: normal;
$rm-btn-default-color: $rm-gray;
$rm-btn-default-bg: $rm-white;
$rm-btn-default-border: #cccccc;
$rm-btn-primary-color: $rm-white;
$rm-btn-primary-bg: $rm-primary;
$rm-btn-primary-border: darken($rm-btn-primary-bg, 5%);
$rm-btn-success-color: $rm-white;
$rm-btn-success-bg: $rm-success;
$rm-btn-success-border: darken($rm-btn-success-bg, 5%);
$rm-btn-info-color: $rm-white;
$rm-btn-info-bg: $rm-info;
$rm-btn-info-border: darken($rm-btn-info-bg, 5%);
$rm-btn-warning-color: $rm-white;
$rm-btn-warning-bg: $rm-warning;
$rm-btn-warning-border: darken($rm-btn-warning-bg, 5%);
$rm-btn-danger-color: $rm-white;
$rm-btn-danger-bg: $rm-danger;
$rm-btn-danger-border: darken($rm-btn-danger-bg, 5%);
$rm-btn-link-disabled-color: $rm-gray-light;

/* Allows for customizing button radius
independently from global border radius */
$rm-btn-border-radius-base: $rm-border-radius-base;
$rm-btn-border-radius-large: $rm-border-radius-large;
$rm-btn-border-radius-small: $rm-border-radius-small;