/*
Forms: Dropdowns
All the colors, padding and margin values should come from
global values
*/

$dropdown-bg: $rm-white;
$dropdown-border: $rm-border-color-base;
$dropdown-fallback-border: $rm-border-color-base;
$dropdown-divider-bg: $rm-legend-base-color;
$dropdown-link-color: $rm-gray-dark;
$dropdown-link-hover-color: darken($rm-gray-dark, 5%);
$dropdown-link-hover-bg: $components-base-bg-color;
$dropdown-link-active-color: $components-base-text-color;
$dropdown-link-active-bg: $components-active-bg-color;
$dropdown-link-disabled-color: $rm-gray-light;
$dropdown-header-color: $rm-gray-light;
$dropdown-caret-color: $rm-gray-base;