/*
Forms: Labels
All the colors, padding and margin values should come from
global values
*/

$label-default-bg: $rm-gray-light;
$label-primary-bg: $rm-primary;
$label-success-bg: $rm-success;
$label-info-bg: $rm-info;
$label-warning-bg: $rm-warning;
$label-danger-bg: $rm-danger;
$label-color: $rm-gray;
$label-link-hover-color: $rm-white;