$pagination-color: $rm-primary;
$pagination-bg: $rm-white;
$pagination-border: $rm-border-color-base;
$pagination-hover-color: $rm-border-color-active;
$pagination-hover-bg: $rm-gray-lighter;
$pagination-hover-border: #ddd;
$pagination-active-color: $rm-white;
$pagination-active-bg: $rm-primary;
$pagination-active-border: $rm-primary;
$pagination-disabled-color: $rm-gray-light;
$pagination-disabled-bg: $rm-white;
$pagination-disabled-border: #ddd;

$nav-pills-border-radius: $rm-border-radius-base;
$nav-pills-active-link-hover-bg: $components-active-bg-color;
$nav-pills-active-link-hover-color: $components-active-bg-color;