$component-offset-horizontal: 180px;
$text-muted: $rm-gray-light;
$abbr-border-color: $rm-gray-light;
$headings-small-color: $rm-gray-light;
$blockquote-small-color: $rm-gray-light;
$blockquote-font-size: ($rm-font-size-base * 1.25);
$blockquote-border-color: $rm-gray-lighter;
$page-header-border-color: $rm-gray-lighter;
$dl-horizontal-offset: $component-offset-horizontal;
$dl-horizontal-breakpoint: $grid-float-breakpoint;
$hr-border: $rm-gray-lighter;
