html,
body {
  height: initial;
}

html {
  position: relative;
  min-height: 100%;
}

iframe,
object {
  border: none;
  &.full {
    width: 100%;
    min-height: 100vh;
  }
}

a {
  @include brand-transition(all);
}

:focus {
  outline: none;
}

.disabled {
  pointer-events: none;
  &:not(.clear) {
    opacity: $disabled-element-opacity;
  }
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.shadow-horizontal {
  height: 1px;
  border: none;
  margin: $size-xs 0;
  background: $brand-gray-lighter;
}