html,
body {
  height: initial;
}

html {
  position: relative;
  min-height: 100%;
}


iframe,
object {
  border: none;
}

:focus {
  outline: none;
}

.disabled {
  pointer-events: none;
  &:not(.clear) {
    opacity: $disabled-element-opacity;
  }
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}


// The following needs attention!
// Two big issues with the following implementation:
// 1. We are using bespoke transitions; in this sense animating everything just don't play along
// 2. If we want to apply a transition effect to all properties in an element: we will add the mixin there
* {
  @include brand-transition(all);
}