html, body { height: initial; }
html {
  position: relative;
  min-height: 100%;
}

// TODO: Adding animations to all HTMLElements interfere with custom made transitions
// We will handle this in the next releases
* {
  @include brand-transition(all);
}

.disabled {
  opacity: $disabled-element-opacity;
  pointer-events: none;
}

.opacity-reset {
  opacity: 1;
}

:focus {
  outline: none;
}