$alert-border-size: 2px !default;
$alert-border-radius: 0px !default;
$alert-base-padding: $size-s !default;

.alert {
  display: block;
  color: inherit;
  margin: 0;
  padding: $alert-base-padding;
  background-color: $brand-white;
  border-width: $alert-border-size;
  border-radius: $alert-border-radius;

  &.alert-success {
    color: $brand-success;
    border-color: $brand-success;
  }

  &.alert-warning {
    color: $brand-warning;
    border-color: $brand-warning;
  }

  &.alert-danger {
    color: $brand-danger;
    border-color: $brand-danger;
  }

  & .alert-interactive {
    font-family: $brand-font-family-body;
    color: inherit;
  }
}