.btn {
  font-size: $font-size-base;
  font-family: $brand-font-family-base;
  padding: $size-xs $size-m;

  &:active,
  &.active {
    box-shadow: none;
  }
}

.btn-primary {
  $states: (
    'color': $brand-white,
    'background': $brand-primary,
    'border': $brand-primary,
    'color-active': $brand-white,
    'background-active': $brand-primary-darker,
    'border-active': $brand-primary-darker,
  );

  @include bp-button-variant($states);
}

.btn-default, .btn-secondary {
  $states: (
    'color': $brand-primary,
    'background': $brand-white,
    'border': $brand-primary,
    'color-active': $brand-primary-darker,
    'background-active': $brand-white,
    'border-active': $brand-primary-darker,
  );

  @include bp-button-variant($states);
}

.btn-flat {
  padding: 0;
  border: none;
  background-color: transparent;
}

.btn-sm {
  padding: $size-xxs $size-xs;
  font-size: $size-s;
}

.btn-lg {
  font-size: $size-l;
  font-family: $brand-font-family-body
}
