$custom-checkbox-radius: 10%;
$custom-radio-radius: 50%;

.custom-control {
  cursor: pointer;
  display: inline;
  position: relative;
  font-weight: normal;
  padding-left: $size-xl - 2px; //The -2px is not a random number, is taking care of border pixels

  // Adding a marging to the inputs if inline behavior
  + .custom-control {
    margin-left: $size-s;
  }
}

.custom-controls-stacked {
  display: inline-block;
  .custom-control {
    float: left;
    clear: left;

    //Removing the margins from each elements since stacked mode
    + .custom-control {
      margin-left: 0;
    }
  }
}

.custom-control-input {
  position: absolute;
  z-index: $zindex-disabled;
  opacity: 0;

  &:checked ~ .custom-control-label:before,
  &:active ~ .custom-control-label:before {
    background-color: $brand-primary;
    @include box-shadow(transparent);
  }

  &:focus ~ .custom-control-label:before {
    // the mixin is not used here to make sure there is feedback
    box-shadow: $brand-gray-light;
  }

  &:disabled {
    ~ .custom-control-label:before {
      background-color: $brand-gray-lighter;
    }

    ~ .custom-control-label:before,
    ~ .custom-control-label {
      pointer-events: none;
      color: $brand-gray;
    }
  }
}

.custom-control-label:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 1px; //Pixel fix for old browsers

  width: $size-m;
  height: $size-m;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  pointer-events: none;
  user-select: none;
}

.custom-checkbox {
  .custom-control-label:before {
    background-color: $brand-white;
    border: 1px solid $input-border;
    border-radius: $custom-checkbox-radius;
  }

  .custom-control-input:checked ~ .custom-control-label:before,
  .custom-control-input:indeterminate ~ .custom-control-label:before {
    border: none;
  }

  .custom-control-input:checked ~ .custom-control-label:before {
    @include custom-control-icon('checkbox-checked', $brand-white);
  }

  .custom-control-input:indeterminate ~ .custom-control-label:before {
    background-color: $brand-primary;
    @include custom-control-icon('checkbox-indeterminate', $brand-white);
  }
}

.custom-radio {
  .custom-control-label:before {
    background-color: $brand-white;
    border: 1px solid $input-border;
    border-radius: $custom-radio-radius;
  }

  .custom-control-input:checked ~ .custom-control-label:before {
    background-color: $brand-white;

    //We are talking about the icon size, not about a "size" of element. This need to be the half of whatever assigned
    background-size: $size-m / 2;
    @include custom-control-icon('radiobutton-checked', $brand-primary);
  }
}