$offcanvas-color: $brand-passive-elements !default;
$header-default-height: 80px !default;
$footer-default-size: 60px !default;
$footer-background-color: $brand-gray-dark !default;
$footer-font-color: invert($footer-background-color) !default;
$footer-font-size: $size-s !default;
$footer-padding: $size-xs !default;

body.contains-dashboard {
  color: $brand-gray-darker;
  background-color: $offcanvas-color;
  margin-bottom: $footer-default-size;
}

.footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  min-height: $footer-default-size;
  background-color: $footer-background-color;
  color: $footer-font-color;
  font-size: $footer-font-size;
  padding: $footer-padding;
  
  @include brand-transition(height, 0.35s);
  -webkit-font-smoothing: antialiased;
}

.header {
  display: block;
  height: $header-default-height;

  @include brand-transition(height, 0.35s);
}