.form-group > label {
  font-weight: $brand-font-weight-bold;
  font-size: $size-s;
  text-transform: uppercase;
}

.form-control {
  box-shadow: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.radio,
.checkbox {
  margin: 0;
}

.has-error,
.has-warning,
.has-success {
  .form-control {
    &:focus {
      box-shadow: none;
    }
  }
}
