.navbar {
  display: flex;
  height: inherit;
  min-height: initial;
  background-color: $brand-white;
  @extend %drop-shadow;

  align-items: center;
  justify-content: center;
  border: none;
  margin: 0;

  /* Contains two or more elements inside its markup,
  i.e: submenu is present; */
  &.navbar-layered {
    flex-direction: column;
    align-items: initial;
  }

  /* Has sticky properties to the top,
  this element must keep its position at the top */
  &.navbar-fixed-top {
    position: fixed;
    z-index: 1;
  }

  /* Placeholder for custom behavior for disabled
  elements inside the navbar */
  .disabled {}

  .navbar-container {
    display: flex;
    width: 100%;
    max-width: $container-large-desktop;
    padding: 0px $size-xl;
    margin: 0 auto;
  }

  .navbar-side {
    flex-basis: 20%;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: $size-xs;
    @include centered-content;

    &:first-of-type,
    &.navbar-brand {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  .navbar-collapsible {
    display: none;
  }

  .navbar-brand {
    float: none;
    font-size: inherit;
    line-height: normal;
    overflow: hidden;

    .navbar-actionable {
      display: flex;
      align-items: center;

      background-color: transparent;
      border: none;
      height: 100%;
      padding: 0;
    }

    .navbar-brand-text {
      display: flex;
      align-items: center;
      pointer-events: none;
      user-select: none;

      &::before {
        content: '';
        display: block;
        height: $size-xl;
        margin: 0px $size-xxs;
        border-left: 1px solid $brand-gray-light;
      }
    }
  }

  .navbar-brand,
  .navbar-collapsible {
    height: inherit;
    justify-content: flex-start;
  }

  /* Container for the main menu inside the navbar */
  .navbar-center {
    display: flex;
    flex-basis: 100%;
    justify-content: center;

    .navbar-items {
      display: flex;
      overflow: hidden;
      float: none;

      .navbar-item {
        display: inherit;
        float: initial;
        width: $navbar-base;
        max-width: $navbar-base + $size-m;

        &.active button,
        & > button:hover,
        & > button:focus {
          color: $brand-primary;
          background-color: $brand-gray-lighter;

          &::after {
            height: $size-xxs;
            animation: increasing-height 0.5s;
            animation-fill-mode: forwards;
          }
        }

        button {
          background-color: transparent;
          padding: $size-xxs;
          border: none;
          width: 100%;

          &::after {
            content: '';

            display: block;
            height: 0px;
            width: 100%;

            background-color: $brand-primary-darker;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }

  /* Images inside the navbar element must be forced to the
  100% height as their max-height. Images can be present anywhere */
  & img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;

    @extend %image-rendering;
  }

  & .navbar-nav {
    margin: 0;
  }

  & .navbar-icon {
    font-size: $size-l;
    display: block;

    &::before {
      display: block;
      margin-bottom: $size-xxs;
    }
  }

  .navbar-primary {
    height: 100%;
  }

  .navbar-secondary {
    display: block;
    padding-top: $size-xxs;
    padding-bottom: $size-xxs;
  }
}

@media (max-width: $container-sm) {
  .navbar {
    .navbar-brand {
      height: inherit;
      justify-content: center;
      flex-basis: 100%;
    }

    .navbar-collapsible,
    .navbar-actions {
      display: flex;
      position: absolute;
      align-self: center;
    }

    .navbar-actions {
      right: $size-xl;
    }

    .navbar-center {
      display: none;
      width: $navbar-base;
      
      position: absolute;
      height: 100vh;
      z-index: 3;
      left: 0;

      .navbar-nav {
        display: flex;
        align-content: stretch;
        flex-flow: column wrap;
        width: inherit;
      }
    }
  }
}