.table {
  color: $table-default-text-color;
  background-color: transparent;
  border: 1px solid $table-default-border-color;
  border-collapse: collapse;

  margin: 0px;
  width: 100%;
  max-width: 100%;
  line-height: $line-height-base;

  &:not(.transparent) {
    background-color: $table-deafult-background-color;
  }

  td, th {
    padding: $table-default-padding;
  }

  & caption {
    @extend .caption;

    color: $table-caption-color;
    display: table-caption;
  }

  & thead {
    font: normal $size-base $brand-font-family-semibold;
    background-color: $table-header-background-color;
    color: $brand-gray;
  }

  & tbody {
    & tr {
      transition: background-color 0.25s ease-in;

      &:last-child() td {
        border-bottom: none;
      }
    }

    & td {
      border: none;
    }
  }
}

/* Element variations */
.table-bordered {
  & tbody td {
    border: none;
    border-right: 1px solid $table-default-border-color;
    border-bottom: 1px solid $table-default-border-color;
  }
}

.table-condensed {
  th, td {
    padding: $table-condensed-padding;
  }
}

.table-striped {
  & tbody tr:nth-of-type(even) {
    background-color: $brand-gray-lightest;
  }
}

/* NOTE: This classname should be after the '.table-striped' */
/* Bear in mind overrides the alternated background color (if present) */
.table-hoverable {
  & tbody tr:hover {
    background-color: $table-hover-color;
  }
}

.table-simple {
  border: none;
  color: $brand-gray;

  th, td {
    padding: $size-xs;

    &:first-of-type {
      border-right: 1px solid $brand-gray-lighter;
    }
  }

  & thead {
    th, td {
      padding-bottom: $size-xxxs;
    }
  }

  & thead {
    background-color: transparent;
  }

  & tbody {
    font-size: $caption-font-size;

    & tr td {
      vertical-align: top;
    }
  }
}

.table-default {
  @extend .table-striped;
  @extend .table-responsive;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%; //Known issue workaround: https://github.com/twbs/bootstrap/issues/14837

  @media (max-width: $screen-md-min) {
    &.table-responsive-columns {
      & tbody td {
        display: block;

        &::before {
          display: block;
          content: attr(data-header);
          color: $brand-gray;
          white-space: initial;
          width: 100%;
        }

        &::after {
          display: none;
        }
      }
    }

    &.table-hoverable {
      & tbody tr:hover {
        box-shadow: inset 0px 0px 8px $table-default-border-color;
      }
    }

    & thead {
      border-bottom: none;

      /* Hide table headers (but not display: none;, for accessibility) */
      & tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }

    & tbody {
      & tr:not(:last-child()) td:last-child() {
        border-bottom: 2px solid $table-default-border-color;
      }

      & td {
        display: flex;
        flex-direction: row;
        text-align: initial;
        width: initial;

        position: relative;

        &::before,
        &::after {
          font-weight: normal;
          font-family: $brand-font-family-semibold;
          font-size: $size-base;

          text-transform: uppercase;
          text-align: initial;

          width: 35%;
        }

        &::before {
          content: '\a';
          white-space: pre;
          margin-right: $size-xs;
        }

        &::after {
          content: attr(data-header);
          display: flex;
          align-items: center;
          position: absolute;
          overflow: hidden;
          height: 100%;
          left: 0;
          top: 0;

          border-right: 1px solid $table-secondary-border-color;
          padding: $table-default-padding;
          padding-right: $size-xs;
        }
      }
    }

    &:not(.table-bordered) {
      & tbody {
        & tr:last-child() td:last-child() {
          border-bottom: none;
        }

        & tr:not(:last-child()) td:last-child() {
          border-bottom-width: 1px;
        }
      }
    }

    &.table-bordered {
      & tbody td:not(:last-child()) {
        border-bottom: 1px solid $table-default-border-color;
      }
    }
  }
}

// Styles applied to the rows (header and content)
// These can be used in cascade
th, td {
  &.preferred {
    width: 100%;
  }

  &.number {
    width: auto;
  }

  &.restricted {
    @extend .disabled;
  }

  // Leaving these here to show the ONLY available values
  // we should have a 'catalog' of what is supported
  &.date {}
  &.text {}
  &.actions {}
}

td.number { text-align: right; }

@include table-row-variant('active', $table-bg-active);
@include table-row-variant('success', $state-success-bg);
@include table-row-variant('info', $state-info-bg);
@include table-row-variant('warning', $state-warning-bg);
@include table-row-variant('danger', $state-danger-bg);
