.table {
  color: $table-default-text-color;
  background-color: transparent;
  border: 1px solid $table-default-border-color;
  border-collapse: collapse;

  margin: 0px;
  width: 100%;
  max-width: 100%;
  line-height: $line-height-base;

  td, th {
    padding: $table-default-padding;
  }

  &:not(.transparent) {
    background-color: $table-deafult-background-color;
  }

  & caption {
    color: $table-caption-color;
    @extend .caption;
  }

  & thead {
    color: $table-header-text-color;
    background-color: $table-header-background-color;
    border-bottom: 1px solid $table-default-border-color;

    font-size: $table-header-font-size;
    font-weight: normal;
    text-transform: uppercase;
    font-family: $brand-font-semibold;
    -webkit-font-smoothing: antialiased;

    & tr > th {
      border: none;
      border-right: 1px solid $table-secondary-border-color;

      &:last-child() {
        border-right: none;
      }
    }
  }

  & tbody {
    & > tr {
      transition: background-color 0.25s ease-in;
      
      &:last-child() > td {
        border-bottom: none;
      }
    }

    & td {
      border: none;
      border-right: 1px solid $table-secondary-border-color;
      border-bottom: 1px solid $table-secondary-border-color;

      &:last-child() {
        border-right: none;
      }
    }
  }
}

/* Element variations */
.table-bordered {
  & tbody td {
    border: none;
    border-right: 1px solid $table-default-border-color;
    border-bottom: 1px solid $table-default-border-color;
  }
}

.table-condensed {
  th, td {
    padding: $table-condensed-padding;
  }
}

.table-striped {
  & tbody > tr:nth-of-type(even) {
    background-color: $table-accent-color;
  }  
}

/* NOTE: This classname should be after the '.table-striped' */
/* Bear in mind overrides the alternated background color (if present) */
.table-hoverable {
  & tbody > tr:hover {
    background-color: $table-hover-color;
  }
}

.table-simple {
  border: none;
  color: $brand-gray;

  th, td {
    padding: $size-xs;
  }

  & thead {
    th, td {
      padding-bottom: 2px; 
    }
  }

  & thead {
    background-color: transparent;
  }

  & tbody {
    font-size: $caption-default-font-size;

    & tr td {
      vertical-align: top;
    }
  }
}

.table-default {
  @extend .table-striped;
  @extend .table-responsive;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%; //Known issue workaround: https://github.com/twbs/bootstrap/issues/14837

  @media (max-width: $screen-md-min) {
    &.table-responsive-columns {
      & tbody td {
        display: block;

        &::before {
          display: block;
          border: none;
          margin: 0;
          padding: 0;

          min-width: initial;
          max-width: initial;
        }
      }
    }

    &.table-hoverable {
      & tbody > tr:hover {
            box-shadow: inset 0px 0px 8px $table-default-border-color;
      }
    }

    & thead {
      border-bottom: none;

      /* Hide table headers (but not display: none;, for accessibility) */
      & > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }

    & tbody {
      & > tr:not(:last-child()) td:last-child() {
        border-bottom: 2px solid $table-default-border-color;
      }

      & td {
        display: flex;
        flex-direction: row;
        text-align: initial;
        
        border: none;
        border-bottom: 1px solid $table-secondary-border-color;

        &::before {
          text-align: initial;
          font-size: $table-header-font-size; 
          font-weight: normal;
          font-family: $brand-font-semibold;

          text-transform: uppercase;
          -webkit-font-smoothing: antialiased;

          color: $table-header-text-color;
          content: attr(data-header) + '';
          padding-right: $size-s;
          margin-right: $size-xs;

          border-right: 1px solid $table-secondary-border-color;
          white-space: nowrap;
          min-width: 25%;
          max-width: 45%; 
        }
      }
    }

    &:not(.table-bordered) {
      & tbody {
        & tr td {
          border-bottom: 1px solid $table-secondary-border-color;
        }

        & tr:last-child() td:last-child() {
          border-bottom: none;
        }

        & > tr:not(:last-child()) td:last-child() {
          border-bottom-width: 1px;
        }
      }
    }

    &.table-bordered {
      & tbody td:not(:last-child()) {
        border-bottom: 1px solid $table-default-border-color;
      }
    }
  }
}

// Styles applied to the rows (header and content)
// These can be used in cascade
th, td {
  &.preferred {
    width: 100%;
  }

  &.number {
    width: auto;
  }

  &.restricted {
    @extend .disabled;
  }

  // Leaving these here to show the ONLY available values
  // we should have a 'catalog' of what is supported
  &.date {}
  &.text {}
  &.actions {}
}

@include table-row-variant('active', $table-bg-active);
@include table-row-variant('success', $state-success-bg);
@include table-row-variant('info', $state-info-bg);
@include table-row-variant('warning', $state-warning-bg);
@include table-row-variant('danger', $state-danger-bg);