b,
strong,
.bold {
  font-family: $brand-font-family-semibold;
  font-weight: normal;
}

.title {
  font-family: $brand-font-family-base;
  color: $brand-primary;
  font-size: $size-l;
  margin: 0;
  padding: 0
}

.caption {
  display: block;
  color: $brand-gray;

  font-family: $brand-font-family-body;
  font-size: $caption-font-size;
  text-align: left;
}

hr.shadow-horizontal {
  height: 1px;
  border: none;
  margin: $size-xs 0;
  background: $brand-separator-color;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, $brand-separator-color));
}