body {
  padding-top: 70px;
}

[hljs] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  border: 1px #ddd solid;
  border-radius: 4px 4px 0 0;
}

.bs-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: 'Example';
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}
