@import '../../src/variables';

$default-margin-size: 30px;

body {
  padding-top: 70px;
}

/**
 * Syntax highlighter
 */
[hljs] {
  margin-top: 10px;
  margin-bottom: 10px;
}

/**
 * Bootstrap docs
 */
.bs-docs-section {
  margin-bottom: $default-margin-size;
}

.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  border: 1px $rm-gray-light solid;
  border-radius: 4px 4px 0 0;
}

.bs-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: 'Example';
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

/**
 * Blueprints docs
 */
.docs-section {
  margin-bottom: $default-margin-size;
}

.group-default {
  margin-bottom: $default-margin-size / 2;
}

/**
 * Swatches
 */
.swatches {
  display: flex;
  flex-flow: wrap;
}

.swatches .swatch {
  box-shadow: 0 0.5px 0 0 #cccccc inset, 0 1px 1px 0 #bdbdbd;
  padding: 5px;
  width: 100px;
  min-height: 100px;
  margin: 10px;
  display: flex;
  flex-direction: column;


  .swatch-fill {
    height: 80%;
  }

  .swatch-variable {
    text-align: center;
    padding: 5px 0px;
    font-size: 11px;
  }
}
